$white: #ffffff;

$theme-colors: (
    "light":      #e3f2ee,
    "dark":       #080300,
    "primary":    #004e94,
    "secondary":  #217bc6,
    "info":       #6793b6,
    "success":    #00a45c,
    "warning":    #e3cb00,
    "danger":     #f31100,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
);

body {
  font: 1rem/1.5 var(--font-family-sans-serif);
  color: var(--dark);
}

$offcanvas-horizontal-width: 35rem;
$offcanvas-padding-x: 2rem;
$offcanvas-padding-y: 2rem;

@import "../node_modules/bootstrap/scss/bootstrap";
